# Ignore node_modules and build output
**/node_modules/
**/.next/
**/.DS_Store
**/.env.local

# Ignore generated ZIPs and template contents
/app-generator/generated_apps/
# Ignore everything in flutter_template
templates/flutter_template/**

# Allow pubspec.yaml explicitly
!templates/flutter_template/pubspec.yaml

# Allow the lib folder and its contents
!templates/flutter_template/lib/
!templates/flutter_template/lib/**

# Optional: Ignore logs or lock files
*.log
